{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">Projects and Blog</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/blog" role="button">Read blog</a>
      <p class="meta">Part-time mad computer scientist, full-time lover of the extraordinary.</p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Future Money</h2>
        <p>Open-source budget web app designed for future money, <a href="https://github.com/buwilliams/future-money">learn more</a>.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Bliss UI</h2>
        <p>No-code app platform to remove barriers to inspiration, <a href="/projects/bliss-ui/">learn more</a>.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Learning Rust</h2>
        <p>Reading and working through the exercises provided in The Rust Programming Language book, <a href="/projects/learning-rust/">learn more</a>.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">E-learning Analysis</h2>
        <p>Education first-principles, SWOT analysis, and roadmap, <a href="/projects/e-learning-business-analysis/">learn more</a>.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Twitter Clone</h2>
        <p>Simple experiments with Dolt and Dolthub via node.js, express.js, and mysql, <a href="https://github.com/buwilliams/twitter-clone">learn more</a>.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Algorithms and Data Structures</h2>
        <p>Code examples and notes on practical data structures and algorithms course, <a href="https://github.com/buwilliams/practical-data-structures-algorithms-in-java">learn more</a>.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Learning Docker</h2>
        <p>Notes and experiments with Docker, <a href="https://github.com/buwilliams/learn-docker">learn more</a>.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Learning PostHog</h2>
        <p>Notes and advice for learning open-source analytics platform, <a href="https://github.com/buwilliams/learn-posthog">learn more</a>.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Social Media</h2>
        <p>JSON REST-style API that analyzes data from SocialMedia, a totally legit social media platform, <a href="https://github.com/buwilliams/socialmedia">learn more</a>.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
